/* Styles for XTF documentation */

.DocTitle     { margin-left:  0.00in;
                font-family:  Arial, Helvetica, sans-serif;
                font-size:    180%;
                font-style:   normal;
                font-weight:  bold;
                font-variant: small-caps; }

.BaseStyle    { margin-left:  0.00in;
                font-family:  "Times New Roman", Times, serif;
                font-size:    100%;
                font-style:   normal;
                font-weight:  normal;
                font-variant: normal; }

.IndentL      { margin-left: 0.25in; margin-right: 0.00in }
.IndentLR     { margin-left: 0.25in; margin-right: 0.25in }

.Heading1     { font-size:    140%;
                font-style:   normal;
                font-weight:  bold;
                font-variant: small-caps;
                width:        100%;
                line-height:  normal;
                color:        #b6953b;
                border-color: #b6953b;
                border-style: solid;
                border-left-width: 0px; border-right-width:  0px;
                border-top-width:  0px; border-bottom-width: 3px;
                margin-top: 28pt; margin-bottom: 4pt }

.Heading2     { font-size:    120%;
                font-style:   normal;
                font-weight:  bold;
                width:        100%;
                line-height:  normal;
                color:        #576490;
                border-color: #576490;
                border-style: solid;
                border-left-width: 0px; border-right-width:  0px;
                border-top-width:  0px; border-bottom-width: 2px;
                margin-top: 24pt; margin-bottom: 4pt }
                
.Heading3     { font-size:    10pt;
                font-style:   normal;
                font-weight:  bold;
                line-height:  normal;
                color:        #000000;
                border-color: #000000;
                border-style: solid; 
                border-left-width: 0px; border-right-width:  0px;
                border-top-width:  0px; border-bottom-width: 1px;
                margin-top: 20pt; margin-bottom: 4pt }

.Code         { font-family: "Courier New", Courier, mono;
                font-size:   100%;
                font-style:  normal;
                font-weight: bold;
                color:       #112233 }

.CodeNorm     { font-family: "Courier New", Courier, mono;
                font-size:   10pt;
                font-style:  normal;
                font-weight: normal;
                color:       #112233 }

.MacroCode    { font-family: "Times New Roman", Times, serif; font-style: italic; color: #576490 }
.MacroCodeB   { font-family: "Times New Roman", Times, serif; font-style: italic; color: #990099 }

.Keyword      { font-style:  italic;
                font-weight: bold }

.Sample       { margin-left: 0.15in; margin-right: 0.1in;
                background-color: #E0E0E0;
                padding-top:  8px; padding-bottom: 8px;
                padding-left: 8px; padding-right:  8px;
                border-style: none }

.DarkSample   { background-color: #C0C0C0;
                border-style: none }
                
.Note         { color:      #990000;
                font-style: italic;
                margin-left: 0.15in; margin-right: 0.15in }

.Red           { color: #990000; font-style: italic; }
.RedB          { color: #990000; font-weight: bold; }

.GreyList      { background-color: #E0E0E0;
                 margin-left: 0.15in; margin-right: 0.15in;
                 margin-top:   5px;  margin-bottom:  0px;
                 padding-left: 8px;  padding-right:  8px;
                 padding-top:  8px;  padding-bottom: 8px }

.OrderedList   { margin-left:         0.35in;
                 list-style-position: outside;
                 list-style-image:    none;
                 list-style-type:     decimal }

.UnorderedList { margin-left:         0.35in;
                 list-style-position: outside;
                 list-style-type:     disc }

.NoBullets     { margin-left:     0.25in;
                 list-style-type: none }
              
.ListItem      { margin-top: 6px; }

.YellowBG      { background-color: #FFFF00; }


