/* dynaXML Button Bar stylesheet */
/* Applies only to the top navigation bar that appears in the frames view */
body {
	background-color: silver;
	margin: 6px;
}

form {
	display: inline;
}

.clear {
	clear: both;
}

div.header {
	 border-bottom: 0;
	 margin: 0 auto;
	 background-color: #63718d;
	 height: 100%;
}

div.header img {
	border: 0;
}

div.header img.xtf-logo {
	float: left;
	margin: 21px 0 0 15px
}

div.header img.your-logo {
	float: right;
	margin: 10px 15px;
}

div.bbar {
	width: 100%;
	margin: 0 auto;
}

div.bbar table {
	width: 100%;
	border: 1px solid #666;
}

div.bbar table td {
	/*border: 1px solid #666;*/
}

td.left {
	width: 33%;
	text-align: left;
	padding: 10px;
	font-size: 85%;
	background-color: #dededf;
}

td.center {
	width: 34%;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	font-size: 85%;
	background-color: #dededf;
}

td.center input[type="text"] {
	margin-right: 5px;
}

td.right {
	width: 33%;
	text-align: right;
	padding: 10px;
	font-size: 85%;
	background-color: #dededf;
}

.citation {
}

.container {
	background-color: #fff;
	border: 1px solid #666;
	height: 100%;
	padding: 10px 10px 20px 10px;
}
	
	
	