/* base.css - CSS layout for CSS2 browsers */
 
body { 
                color : #000000; 
                background-color : #ffffff; 
                margin-top : 0;
                margin-right : 0;
                margin-left : 0;
                margin-bottom : 0;
                padding : 0; 
                font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size : 80%;
} 

a:link {
                color: #1C376E;
                font-size: 100%;
                text-decoration: underline;
}

a:visited {
                color: #1C376E;
                font-size: 100%;
                text-decoration: underline;                                     
}

a:hover {
                /* color: #A35C00; */
                color: #1C376E; 
                font-size: 100%;
                text-decoration: none;
}

a:active {
                /* color: #A35C00; */
                color: #1C376E;
                font-size: 100%;
                text-decoration: none;
}

a.topnav:link {
                color: #0F152F;
                font-size: 75%;
                text-decoration: none;
}

a.topnav:visited {
                color: #0F152F;
                font-size: 75%;
                text-decoration: none;                                          
}

a.topnav:hover {
                color: #A35C00;
                font-size: 75%;
                text-decoration: none;
}

a.topnav:active {
                color: #A35C00;
                font-size: 75%;
                text-decoration: none;
}

a.midnav:link {
                color: #0F152F;
                font-size: 75%;
                text-decoration: none;
}

a.midnav:visited {
                color: #0F152F;
                font-size: 75%;
                text-decoration: none;                                          
}

a.midnav:hover {
                color: #A35C00;
                font-size: 75%;
                text-decoration: none;
}

a.midnav:active {
                color: #A35C00;
                font-size: 75%;
                text-decoration: none;
}

h1 { 
                font-size : 125%; 
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-weight: bold;
}

h1.home { 
                font-size : 135%; 
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #576490;
                line-height: 1.3em;
}


h2 { 
                font-size: 100%; 
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-weight: bold;
}

h3 { 
                font-size: 100%; 
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-weight: bold;
}


.heading1 { 
                font-size : 120%; 
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-weight: bold;
}

td.header-left {  
                background : #62708D;
                border-bottom : 1px solid #000000;                              
} 

td.header-middle {  
                background: #63718E;
                border-bottom: 1px solid #000000;                               
}

td.header-right {  
                background : #62708D;
                border-bottom : 1px solid #000000;                              
}

td.header-right-home {  
                background : #62708E;
                border-bottom : 1px solid #000000;                              
}

td.topnav-outer {
                border-bottom: 1px solid #000000;                               
}

.topnav-inner {
                background: #E9EAEF;
}

.co-brand {
                margin-right: 30px;
                }

.search-text {
                font-size: 75%;
}

.title {
                margin-top: 10px;
                margin-bottom: 5px;
                text-align: center;
                line-height: 1.5;
}

.buy {
                margin-top: 6px;
}

.hr-title {
                border-color:#000000; 
                border-width:1px;
                /* align: center; */            
}

.chapter-text {
                font-size: 85%;
                /* color: #A2A2A2; */
                color: #1C376E;
                font-weight: bold;
}

.content {
                margin-top: 15px;
                margin-left: 28px;
                margin-right: 28px;
}

.content2 {
                margin-top: 30px;
                margin-left: 50px;
                margin-right: 50px;
}

.content-home {
                margin-top: 30px;
                margin-left: 50px;
                margin-right: 0px;
                margin-bottom: 15px;
}

.content-home2 {
                text-align: center;
                margin-top: 30px;
                margin-left: 0px;
                margin-right: 0px;
}

.search-results {
                font-size: 85%;
                margin-bottom: 5px;
}

.adv-search {
                font-size: 80%;
}                               

.featured-title {
                margin-top: 10px;
}

.cdl-logo {
                margin-right: 30px;
}

.footer {
                font-size: 85%;
                margin-top: 20px;
                margin-left: 60px;
                margin-right: 60px;
                margin-bottom: 15px;
}

.footer2 {
                font-size: 85%;
                margin-top: 30px;
                margin-left: 50px;              
                margin-right: 50px;
                margin-bottom: 15px;
}

/* BEGIN SEARCH STYLES */

.search-outer {
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 15px;
                font-size: 100%;
                }

.search-tabs-outer {
                clear: both;
                }

.search-tabs-adv-on {
                /* background: #344698; */
                background: #63718E;
                padding: 7px 10px 11px 10px;
                line-height: 35px;
                font-size: 95%;
                }

.search-tabs-adv-off {
                border-top: 1px #caa004 dashed;
                border-right: 1px #caa004 dashed;
                padding: 7px 10px 11px 10px;
                line-height: 35px;
                font-size: 95%;
                }

.search-tabs-keyword-on {
                /* background: #344698; */
                background: #63718E;
                padding: 7px 10px 11px 10px;
                line-height: 35px;
                font-size: 95%;
                }

.search-tabs-keyword-off {
                border-top: 1px #caa004 dashed;
                border-left: 1px #caa004 dashed;
                padding: 7px 10px 11px 10px;
                line-height: 35px;
                font-size: 95%;
                }

a.keyword-off:link {
                color: #121C3E;
                text-decoration: underline;
                }

a.keyword-off:visited {
                color: #121C3E;
                text-decoration: underline;
                }

a.keyword-off:active {
                color: #121C3E;
                text-decoration: none;
                }

a.keyword-off:hover {
                color: #121C3E;
                text-decoration: none;
                }

a.adv-off:link {
                color: #121C3E;
                text-decoration: underline;
                }

a.adv-off:visited {
                color: #121C3E;
                text-decoration: underline;
                }

a.adv-off:active {
                color: #121C3E;
                text-decoration: none;
                }

a.adv-off:hover {
                color: #121C3E;
                text-decoration: none;
                }

.keyword-on {
                color: #ffffff;
                }

.adv-on {
                color: #ffffff;
                }

.search-inner {
                border-left: 1px black solid;
                border-right: 1px black solid;
                border-bottom: 1px black solid; 
                }

.search-topbar {
                height: 25px;
                color: #ffffff;
                /* background-color: #344698; */
                background-color: #63718E;
                text-align: center;
                line-height: 25px;
                }

.search-tips {
                font-size: 80%;
                text-align: right;
                margin-top: 15px;
                margin-right: 20px;
                }

.basic-search {
                margin-top: 75px;
                margin-bottom: 75px;
                }

.search-query-table {
                margin-top: 20px;
                }

td.search-column-left {
                padding-bottom: 10px;
                text-align: right;
                }

td.search-column-mid {
                padding-bottom: 10px;
                text-align: left;
                }

td.search-column-right {
                padding-bottom: 10px;
                padding-left: 15px;
                text-align: left;
                font-size: 85%;
                }

.publisher {
                font-size: 100%;
                }

.exact-phrase {
                font-size: 85%;
                }

.search-lower {
                margin-left: 7%;
                margin-right: 7%;
                margin-bottom: 15px;
                border-top: 1px gray dotted;
                }

.optional-limits {
                                margin-top: 8px;
                                margin-left: 8px;
                }

.optional-limits2 {
                                margin-top: 20px;
                                margin-left: 10px;
                                font-size: 85%;
                }

.submit-button {
                margin-left: 80px;
                }
                
/* END SEARCH STYLES */


/* BEGIN SEARCH RESULTS STYLES */

.search-results-outer  { 
                margin-left:15px;
                margin-right:17px;
                margin-bottom:15px;
                font-size:100%;
} 

.search-term  { 
                color:#000000;
                font-weight:bold;
}

.search-type {
                font-style:italic;
}

a.search-item:link  { 
                text-decoration:underline;
                color:#000000;
} 

a.seach-item:visited  { 
                text-decoration:underline;
                color:#000000;
} 

a.search-item:hover  { 
                text-decoration:none;
                color:#000000;
} 

a.search-item:active  { 
                text-decoration:none;
                color:#000000;
} 

a.top-link:link  { 
                font-size:80%;
                margin-left:8px;
} 

a.top-link:visited  { 
                font-size:80%;
                margin-left:8px;
} 

a.top-link:hover  { 
                font-size:80%;
                margin-left:8px;
} 

a.top-link:active  { 
                font-size:80%;
                margin-left:8px;
} 

.search-summary  { 
                font-size:110%;
                margin-bottom:15px;
} 

.number-items  { 
                font-size:95%;
                text-align:right;
                margin-right:5px;
                padding-bottom:6px;
} 

.search-bar-outer  { 
                width:100%;
                height:25px;
                background-color:#caa004;
} 

.search-bar-inner-left  { 
                float:left; 
                line-height:25px;
                color:#000000;
                font-size:95%;
                margin-left:0px;
} 

.search-bar-inner-right  { 
                float:right;
                line-height:25px;
                color:#000000;
                font-size:95%;
                margin-right:5px;
} 

.search-form  { 
                margin-top:0px;
                margin-bottom:0px;
} 

.form-element {
                margin-right:3px;
                margin-left:10px;
                } 

.pagenumber-links  { 
                margin-bottom:2px;
} 

/* BEGIN SEARCH TABLE STYLES */

.search-results-table  { 
                margin-top:10px;
                margin-left:0px;
                width: 100%;
} 

tr.search-row  {
                margin-bottom:30px;
} 

td.search-results-number  { 
                font-size:100%;
                vertical-align:top;
                text-align:left;
}

td.search-results-thumbnail  { 
                vertical-align:top;
                text-align:center;
                padding-left:5px;
                padding-right:5px;
} 

td.search-results-text  { 
                font-size:100%;
                vertical-align:top;
                text-align:left;
                padding-left:6px;
                padding-bottom:10px;
} 

.search-results-text-inner  { 
                padding-bottom:14px;
                border-bottom:1px gray dotted;
} 

.search-results-snippet  { 
                font-size:85%;
                margin-left:0px;
} 

/* END SEARCH TABLE STYLES */

/* END SEARCH RESULTS STYLES */


/* BEGIN HOME PAGE STYLES */

#home-outer {
                width: 100%;
                /* border: 1px blue dashed; */
                }
                
#home-box-outer {
                width: 225px;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                float: left;
                /* border: 1px red dashed; */
                }

.home-tabs-author-on {
                background: #caa004;
                padding: 7px 11px 11px 11px;
                line-height: 35px;
                font-size: 95%;
                }

.home-tabs-author-off {
                border-top: 1px #caa004 dashed;
                border-left: 1px #caa004 dashed;
                padding: 7px 11px 11px 10px;
                line-height: 35px;
                font-size: 95%;
                }

.home-tabs-title-on {
                background: #caa004;
                padding: 7px 18px 11px 18px;
                line-height: 35px;
                font-size: 95%;
                }

.home-tabs-title-off {
                border-top: 1px #caa004 dashed;
                border-right: 1px #caa004 dashed;
                padding: 7px 18px 11px 18px;
                line-height: 35px;
                font-size: 95%;
                }
                
.home-tabs-title-off2 {
                border-top: 1px #caa004 dashed;
                border-left: 1px #caa004 dashed;
                padding: 7px 18px 11px 18px;
                line-height: 35px;
                font-size: 95%;
                }               

.home-tabs-subject-on {
                background: #caa004;
                padding: 7px 10px 11px 10px;
                line-height: 35px;
                font-size: 95%;
                }
                
.home-tabs-subject-off {
                border-top: 1px #caa004 dashed;
                border-right: 1px #caa004 dashed;
                padding: 7px 10px 11px 10px;
                line-height: 35px;
                font-size: 95%;
                }

.tab-on-txt {
                color: #ffffff;
                }

a.tab-link:link {
                color: #121C3E;
                text-decoration: underline;
                }

a.tab-link:visited {
                color: #121C3E;
                text-decoration: underline;
                }

a.tab-link:active {
                color: #121C3E;
                text-decoration: none;
                }

a.tab-link:hover {
                color: #121C3E;
                text-decoration: none;
                }

.home-box {
                border: 1px #caa004 solid;
                /* height: 525px; */
                }

.home-box-author {
                border: 1px #caa004 solid;
                height: 525px;
                }
                
.home-box-content {
                margin-top: 0px;
                margin-bottom: 20px;
                margin-left: 10px;
                margin-right: 10px;
                }

.box-text-sm {
                font-size: 85%;
                }

a.box-link:link {
                font-size: 90%;
                }

a.box-link:visited {
                font-size: 90%;
                }

a.box-link:active {
                font-size: 90%;
                }

a.box-link:hover {
                font-size: 90%;
                }

#home-content {
                margin-left: 260px;
                /* border: 1px red dashed; */
                }

#home-search {
                margin-top: 0px;
                margin-bottom: 0px;
                padding-top: 20px;
                padding-bottom: 20px;
                border-top: 1px #121C3E dotted;
                border-bottom: 1px #121C3E dotted;
}

#home-form {
                margin-top: 0px;
                margin-bottom: 0px;
                }

.text-sm {
                font-size: 80%;
                }

.exact-phrase {
                margin-top: 8px;
                font-size: 80%;
                }

#featured-title {
                margin-top: 20px;
                text-align: center;
                }

#featured-titles {
                margin-top: 20px;
                font-size: 85%;
                }

#featured-subjects {
                margin-top: 20px;
                font-size: 85%;
                }

/* END BASE STYLES */
