/* dynaXML CONTENT stylesheet */

@import url("base.css");

span.topnav {font-size: 75%;}

/* Change Font Size */

BODY {font-size: 110%;}

/* DIVS */

DIV.content {
margin-top: 15px;
margin-left: 28px;
margin-right: 28px;
}

DIV.illgrp {
text-align: center;
}

DIV.table {
text-align: center;
}

/* HEADINGS */

h1,h2,h3,h4,h5,h6 {
line-height: 120%;
}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.17em;}

/* LEGACY NETLIBRARY HEADING STYLES */

.Heading-Heading1 {
font-weight: bold;
font-size: 160%;
text-align: center;
margin-top: 36pt;
}

.Heading-Heading2 {
font-weight: bold;
font-size: 140%;
margin-top: 36pt;
}

.Heading-Heading2B {
font-weight: bold;
font-size: 140%;
margin-top: 36pt;
}

.Heading-Heading3 {
font-weight: bold;
font-size: 120%;
margin-top: 13pt;
}

.Heading-Heading4 {
font-style: italic;
font-weight: bold;
font-size: 120%;
margin-top: 9pt;
}

.Heading-Heading5 {
font-weight: bold;
margin-top: 9pt;
}

.Heading-Heading6 {
font-style: italic;
font-weight: bold;
margin-top: 9pt;
}

.Heading-Heading7 {
font-style: italic;
margin-top: 9pt;
}

/* TEXT BLOCKS */

BLOCKQUOTE  {
font-size: 80%;
margin-left: 3%;
margin-right: 3%;
margin-top: 3%;
margin-bottom: 3%
}

P.normal {
text-indent: 4%;
margin-top: 0.5%;
margin-bottom: 0;
}

P.indent {
text-indent: 4%;
margin-top: 0.5%;
margin-bottom: 0;
}

P.noindent {
text-indent: 0;
margin-top: 0.5%;
margin-bottom: 0;
}

P.padded {
text-indent: 4%;
margin-top: 0.5%;
margin-bottom: 2em; 
}

P.hang {
text-indent: -2em;
margin-left: 2em;
margin-top: 0;
margin-bottom: 0;
}

P.right  {
text-indent: 0;
text-align: right;
margin-top: 0;
margin-bottom: 0; 
}

P.center  {
text-indent: 0;
text-align: center;
margin-top: 0;
margin-bottom: 0; 
}

/* LEGACY NETLIBRARY BLOCK STYLES */

P.caption  {
text-indent: 0;
text-align: center;
margin-top: 1%;
margin-bottom: 1%; 
}

P.code {
font-family: "Courier New",monospace;
font-size: 80%;
margin-top: 9pt;
}

P.code-indent {
font-family: "Courier New",monospace;
font-size: 80%;
margin-top: 9pt;
margin-left: 18pt;
}

P.dedication {
font-style: italic;
margin-top: 36pt;
}

P.extract2 {
font-size: 80%;
margin-top: 9pt;
margin-left: 18pt;
margin-right: 18pt;
}

P.Image {
text-indent: 0;
margin-top: 0.5%;
margin-bottom: 0.5%;
}

P.NLtable {
margin-top: 9pt;
}

P.Popup {
margin-top: 9pt;
}

P.sidebar {
font-size: 80%;
margin-top: 9pt;
margin-left: 72pt;
margin-right: 72pt;
padding-top: 7pt;
border-top: 2pt solid;
padding-bottom: 7pt;
border-bottom: 2pt solid;
}

P.sidebar-first {
font-size: 80%;
margin-top: 9pt;
margin-left: 72pt;
margin-right: 72pt;
padding-top: 7pt;
border-top: 2pt solid;
}

P.sidebar-last {
font-size: 80%;
margin-top: 9pt;
margin-left: 72pt;
margin-right: 72pt;
padding-bottom: 7pt;
border-bottom: 2pt solid;
}

P.sidebar-middle {
font-size: 80%;
margin-top: 9pt;
margin-left: 72pt;
margin-right: 72pt;
}

P.table {
font-size: 80%;
}

P.IndentHanging {
text-indent: 2em;
}

P.IndentHanging2 {
text-indent: 4em;
}

P.IndentHanging3 {
text-indent: 6em;
}

P.IndentHanging4 {
text-indent: 8em;
}

P.verse  {
font-size: 80%;
margin-left: 3%;
margin-right: 3%;
margin-top: 3%;
margin-bottom: 3%
}

P.verse-extract  {
font-size: 80%;
margin-left: 3%;
margin-right: 3%;
margin-top: 3%;
margin-bottom: 3%
}

P.blockquote  {
font-size: 80%;
margin-left: 3%;
margin-right: 3%;
margin-top: 3%;
margin-bottom: 3%
}

/* LISTS */

UL.nobull  {
list-style-type: none;
}

UL.alpha  {
list-style-type: lower-alpha;
}

OL.nobull  {
list-style-type: none;
}

OL.alpha  {
list-style-type: lower-alpha;
}

/* HR */

HR.pb {
color: #DDDDDD;
height: 1px;
margin-top: 3%;
}

/* FONT CHANGES */

.normal  {
font-style: normal;
}

.sc  {
font-variant: small-caps;
}

.up1  {
font-size: 120%;
}

.down1  {
font-size: 80%;
}

.center  {
text-align: center;
}

.right  {
text-align: right;
}

.ref  {
font-size: 80%;
font-weight: bold;
line-height: 0;
}

.ref-hi  {
font-size: 80%;
font-weight: bold;
line-height: 0;
background-color: #FFCC66;
}

.note  {
font-size: 80%;
margin-top: 0;
margin-bottom: 0;
}

.note-hi  {
font-size: 80%;
margin-top: 0;
margin-bottom: 0;
background-color: #E9EEF4;
}

.inline-note  {
font-size: 80%;
font-family: Arial;
margin-top: 0;
margin-bottom: 0;
background-color: silver;
}

.bibl-hi  {
font-weight: bold;
background-color: #E9EEF4;
}

.hit  {
background-color: #D6DCE5; 
color: red; 
font-weight: bold;
}

.subhit  {
color: red; 
font-weight: bold;
}

.hitsection  {
background-color: #D6DCE5;
}

.run-head  { 
color: gray;
}
