/* dynaXML TOC stylesheet */

div.toc {
                margin-left: 20px;
                margin-right: 20px;
}

.hit-count {
                color: red;
                font-weight: bold;
}

.expand-collapse {
                color: #6699CC;
                text-decoration: none;
}

.toc-hi {
                background-color: #FFCC66;
}

div.l1 {
font-size: 12pt;
text-indent: -10%;
margin-left: 10%;
margin-top: 0;
margin-bottom: 0;
}

div.l2 {
font-size: 11pt;
text-indent: -10%;
margin-left: 10%;
margin-top: 0;
margin-bottom: 0;
}

div.l3, div.l4, div.l5, div.l6, div.l7 {
font-size: 10pt;
text-indent: -10%;
margin-left: 10%;
margin-top: 0;
margin-bottom: 0;
}

