/* dynaXML TOC stylesheet */

div.toc {
   margin-left: 20px;
   margin-right: 20px;
}

table.title {
   width: 100%;
}

table.toc-line {
   width: 1200px;
}

td.hits {
   text-align: right;
   vertical-align: top;
}

td.expand {
   width: 15px;
   text-align: center;
}

td.divnum {
   width: 40px;
   text-align: right;
   vertical-align: top;
   font-weight: bold;
}

td.head {
   vertical-align: top;
}

.hit-count {
   color: red;
}

.toc-hi {
   background-color: #FFCC66;
   font-weight: bold;
}

div.hitSummary {
   text-align: center;
}

div.expandAll {
   text-align: center;
}

div.l1 {
   font-size: 12pt;
   margin-top: 0;
   margin-bottom: 0;
}

div.l2 {
   font-size: 11pt;
   margin-top: 0;
   margin-bottom: 0;
}

div.l3, div.l4, div.l5, div.l6, div.l7 {
   font-size: 10pt;
   margin-top: 0;
   margin-bottom: 0;
}
